body {
  font-size: 14px;
}

/** text alignment across elements **/

.example, h3 {
  padding-top: 30px;
  text-align: center;
}

/** top element **/

nav {
  background-color: yellow;
  height: 100px;
  margin-top: -10px;
  position: fixed;
  width: 100%;
}

h1 {
  font-family: sans-serif;
  font-size: 2em;
}

/** smaller div elements **/

section {
  margin: 0 auto;
  width: 60%;
  padding-top: 90px;
}

h3 {
  font-size: 1.3em;
}

.element {
  height: 100px;
  margin: 10px 0;
  width: 100%;
  background-color: green;
}

/** differentiating bg color for smaller div elements **/

.element-two {
  background-color: blue;
}
